*{
    margin:0;
    padding: 0;
}
.rectangle{
    display:flex;
    width: 1440px;
height: 80px;
flex-shrink: 0;
background: #FBFDFF;
color: #4EA9E0;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.heading{
    margin-left: 20px;
    margin-top: 10px;
}
.container-one{
    display:flex;
    height:200px;
    gap:2em;
    margin-bottom: 400px;
}
.main-one{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 100px;
margin-left: 75px;
height:200px;
}
.para{
    margin-top: 20px;
    font-size: 20px;
}
img{
    margin-top: 50px;

height:400px;
margin-right: 20px;
margin-left: 20px;
}
.our{
    color: #031927;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: italic;
font-weight: 600;
line-height: normal;

}
.btn{
    margin-left: 4px;
    
    margin-top: 30px;
    font-family: Plus Jakarta Sans;
    padding: 8px 8px 16px 16px;
font-size: 14px;

border-radius: 20px;
border: 3px solid #85C5E5;
background: #9DD1F1;
}
.slider{
    display: flex;
    
    gap:50px;
    margin-left: 180px;
    
}
.here{
    font-family: Plus Jakarta Sans;
    margin-left: 200px;
    margin-bottom: 30px;
}
.opinion{
    padding: 20px 10px;
    line-height: 30px;
    height:200px;
    width:275px;
margin-top: 20px;
border-radius: 20px;
border: 1px solid #85C5E5;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #000;
font-family: Plus Jakarta Sans;

font-style: normal;
font-weight: 400;



}
.opinion h1{
    font-size: 20px;
}
.opinion h3{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 200;
}
.opinion p{
    margin-top: 30px;
}
.youget{
    
    line-height: 30px;
    border:1px solid black;
  border-radius: 5px 5px;
    height:200px;
    width:275px;
margin-top: 20px;
border-radius: 20px;
background: #FBFDFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.services h1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 151px;
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.youget p{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #000;
font-family: Plus Jakarta Sans;

font-style: normal;
font-weight: 400;
}
.youget h2{
    background: #B6DFF8;
    border-radius: 20px 20px 0 0 ;
    padding: 10px 10px;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.btn-1{
    margin-left: 45%;
    
    margin-top: 30px;
    font-family: Plus Jakarta Sans;
    padding: 8px 8px 16px 16px;
font-size: 14px;

border-radius: 20px;
border: 3px solid #85C5E5;
background: #9DD1F1;
}
.last{
    height:100px;
}